@import "tailwindcss";
@import 'primereact/resources/themes/lara-light-indigo/theme.css'; 
@import 'primereact/resources/primereact.min.css'; 
@import 'primeicons/primeicons.css';
@theme {
  --color-male: #347DC1;
  --color-female: #CC6594;
  --color-status-active:#56F000;
  --color-status-inactive:#FF3838;
  --color-status-update:#FFB302;
}